//Importo le variabili per l'utilizzo all'interno di QUESTO file
@use './partials/_variables.scss' as *;

//Importo bootstrap per l'utilizzo nell'app
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background: linear-gradient(45deg, #DD4814, #77216E #5E2750, #2C001E, #AEA79F, #333333) !important;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.glass {
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.194);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
}

.card.glass {
    padding: 0px;
    width: 400px !important;
}

.card-img-top-container:not(.dash) {
    height: 262px;
}

.card-img-top {
    object-fit: contain;
    max-height: 262px;
    max-width: 262px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-color;
}